body {
	font-family: "Arya"; 
	font-style: italic;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

button { cursor: pointer; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.container-fluid { 
	padding-left: 0; 
	padding-right: 0;
	overflow-x: hidden;
}

.tm-section {
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
}

.navbar-toggler {
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;
    border: none;
    color: rgb(255,255,255);
    display: block;
    margin: 0 auto;     
}

button:focus { outline: none; }
h1, h2, p {	color: white; }

p { 
	font-weight: 300;
	line-height: 1.8;
	margin-bottom: 35px;
}

.tm-section-title {
	color: #fbc906;
	font-size: 2.2rem;
	margin: 30px 0px;
	text-align: center;
}

.tm-example-title { 
	color: #fbc906;
	font-size: 1.8rem; 	
}

.tm-nav {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -ms-flex-pack: center;
        -webkit-justify-content: center;
            justify-content: center;
	position: fixed;
    width: 100%;  
    transition: all 0.3s ease;  
    z-index: 1000;
}

.tm-nav {
    padding: 0;
}

.nav-link, .nav-link:focus {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	/* font-size: 18px; */
}

.nav-link:hover {
	color: #fbc906; 
}
.navbar-nav .nav-link {
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.tm-hero {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	    -webkit-align-items: center;
	        align-items: center;
	-ms-flex-pack: center;
	    -webkit-justify-content: center;
	        justify-content: center;
	text-align: center;
	min-height: 640px; /*for IE 11 & 10*/
}

.tm-hero-title { 
	font-size: 50px; 
	color: #313131;
}

.tm-hero-subtitle { 
	font-size: 30px; 
	margin-bottom: 0;
}

.tm-bg-black-translucent {background-color: rgba(0, 0, 0, 0.70);}

.tm-content-box {
	margin: 0 100px;
	padding: 40px;
	justify-content: center;
	border: #fdb53d 7px solid;
}

.tm-page-content-width {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.tm-textbox-padding { padding: 50px; }

.tm-fa { 
	color: white;
	padding-bottom: 40px;
    text-align: center;
    width: 100%;
}
.tm-margin-b-0 { margin-bottom: 0; }

.tm-section-title-padding { 
	padding-top: 80px; 
	padding-bottom: 80px;
}

.tm-copyright-div {
	padding: 0.5rem 2.4rem 0.5rem 1.2rem;
	position: absolute;
    bottom: 0;
    display: inline-block;
}

.tm-copyright-text { margin-bottom: 0; }

@media screen and (max-width: 991px) {
	.tm-3-col-box {
		width: 50%;
		margin-bottom: 30px;
	}

	.tm-copyright-div {	position: static; }
}

@media screen and (max-width: 767px) {
	.tm-3-col-box {
		float: none;
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.tm-navbar { 
		background-color: rgba(0,0,0,0.6); 
	}

	.navbar-nav .nav-item {
		float: none; 
	}

	.navbar-nav .nav-item+.nav-item { 
		margin-left: 0; 
	}

	.navbar { 
		width: 100%; 
	}

	.navbar-toggleable-sm .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-height: 639px) {
	.tm-section-home,
	.tm-hero {
		height: 100vh;
		min-height: 100%;
	}
}

.tm-section-home {
	background: #b2ddd1;
}

.tm-section-abouthyper {
	background: url(../images/image-02.jpg); 
}

.tm-section-codeexamples {
	background: #b2ddd1; 
}

.tm-section-developers { 
	background: url(../images/image-02.jpg); 
}

.logo-img {
	width: 500px;
}

#tm-blocks-codeexamples {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.tm-code {
	font-family: "Source Code Pro";
	font-style: normal;
	font-size: 15px;
	color: white;
}

.tm-block-codeexamples {
	margin: 10px;
	width: 45%;
	height: 300px;
	padding: 20px;
	border: #4877cc 7px solid;
}

.tm-codeexamples-section-title {
	color: #313131;
	font-size: 2.2rem;
	margin-bottom: 30px;
}

#tm-blocks-developers {
	display: flex;
	flex-flow: row wrap;
	column-count: 3;
	justify-content: center;
}

.tm-block-developers {
	margin: 10px;
	width: 250px;
	height: 600px;
	padding: 20px;
	border: #fdb53d 7px solid;
}

.tm-developers-section-title {
	color: #373a3c;
	font-size: 2.2rem;
	margin-bottom: 30px;
}

.tm-section-margin-top {
	margin-top: 100px;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #b2ddd1;
}

.tm-text {
	/* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
	font-weight: bolder;
	font-style: normal;
	margin: 15px;
	font-size: 18px;
}

#buttons {
	text-align: center;
}

.btn {
	font-style: normal;
	font-size: 20px;
	background-color: #ffdf6f;
	padding: 10px;
	border: #fbb736 5px solid;
	border-radius: 0%;
	outline: none;
	margin: 30px 0px;
}

.btn:hover {
	background-color: #fbb736;
}

.btn-margin {
	margin-right: 20px;
}

.profile-img {
	width: 200px;
}

.hidden-md-up {
	font-style: normal;
}

figcaption {
	color: white;
}